<form
  action=""
  class="sm:max-w-[400px] w-full"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="h1 mb-6">Вход</h1>
  <div class="mb-5 flex flex-col gap-2">
    <app-input
      [required]="true"
      formControlName="username"
      id="username"
      label="Telegram Username"
      placeholder="Введите логин"
      [error]="usernameError"
      [rightContentTemplate]="telegramBtn"
    />
    <app-input
      [required]="true"
      formControlName="password"
      id="password"
      label="Password"
      placeholder="Введите пароль"
      [type]="isPasswordVisible() ? 'text' : 'password'"
      [error]="passwordError"
      [rightContentTemplate]="passwordToggleBtn"
    />
  </div>
  @if (submitError()) {
  <div class="text-sm text-rose-500 mb-1">
    {{ submitError() }}
  </div>
  }
  <app-button [loading]="pending()" type="submit" [fullWidth]="true"
    >Войти</app-button
  >
</form>

<ng-template #telegramBtn>
  <a
    class="transition-colors size-7 focus:ring-3 border-transparent border-[1px] focus:border-primary/95 focus:outline-none focus:ring-primary/25 cursor-pointer flex cursor-po justify-center items-center rounded-sm hover:border-primary/50 hover:bg-primary/10"
    href="https://t.me/icherniakov_info_bot"
    target="_blank"
    [class.text-rose-500]="usernameError"
  >
    <svg-icon src="assets/svgs/telegram.svg"></svg-icon>
  </a>
</ng-template>

<ng-template #passwordToggleBtn>
  <button
    (click)="isPasswordVisible.set(!isPasswordVisible())"
    type="button"
    class="transition-colors size-7 focus:ring-3 border-transparent border-[1px] focus:border-primary/95 focus:outline-none focus:ring-primary/25 cursor-pointer flex cursor-po justify-center items-center rounded-sm hover:border-primary/50 hover:bg-primary/10"
    [class.text-rose-500]="passwordError"
    [class.text-primary]="isPasswordVisible()"
  >
    <svg-icon src="assets/svgs/password.svg"></svg-icon>
  </button>
</ng-template>
