<div class="border-[1px] border-light py-8 px-6 grid grid-cols-4 gap-8">
  <div class="grid grid-cols-[70px_1fr] gap-8">
    <div class="rounded-full size-[70px] overflow-hidden">
      <img
        src="/assets/imgs/ryan.webp"
        alt="avatar"
        class="object-cover h-full"
      />
    </div>
    <div class="flex flex-col gap-2">
      <h6>John Doe</h6>
      <span>aydlioh</span>
    </div>
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sequi tempore
    nisi voluptatem iure facere minus accusamus neque soluta libero voluptatibus
    perferendis ad expedita, vero vitae ipsam iusto alias dolor!
  </div>
  <div>
    <app-tag>Angular</app-tag>
  </div>
  <div>
    <app-button>Подписаться</app-button>
  </div>
</div>
