<div [class]="containerClass">
  @if (label) {
  <div class="pb-0.5">
    <label [for]="id" class="text-sm font-medium text-gray-700 relative">
      {{ label }}
      @if(required) {
      <span class="text-red-500 absolute -right-2.5 -top-1">*</span>}
    </label>
  </div>
  }

  <div class="relative">
    <input
      autocomplete="new-password"
      [id]="id"
      [name]="name"
      [type]="type"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [class]="inputClasses"
      [value]="value"
      (input)="onInput($event)"
    />

    @if (rightContentTemplate) {
    <div class="absolute right-2 top-1/2 -translate-y-1/2 z-10">
      <ng-container *ngTemplateOutlet="rightContentTemplate"></ng-container>
    </div>
    }
  </div>

  @if (helperText && !error) {
  <div class="text-xs text-gray-500">
    {{ helperText }}
  </div>
  } @if (error) {
  <div class="text-xs text-rose-500 mt-1">
    {{ error }}
  </div>
  }
</div>
