<div [class]="containerClass">
  @if (label) {
  <label [for]="id" class="text-sm font-medium text-gray-700 relative">
    {{ label }} @if(required) { <span class="text-red-500 absolute -right-2.5 -top-1">*</span>}
  </label>
  }

  <div class="relative">
    <input
      [id]="id"
      [name]="name"
      [type]="type"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [class]="inputClasses"
      [value]="value"
      (input)="onInput($event)"
    />
  </div>

  @if (helperText && !error) {
  <div class="text-xs text-gray-500">
    {{ helperText }}
  </div>
  } @if (error) {
  <div class="text-xs text-rose-500 mt-1">
    {{ error }}
  </div>
  }
</div>
